@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #000000;
  --background-hex: #F0F2F5;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
